.header {
  height: 100px;
  /* outline: 1px solid rgb(43, 4, 241); */
  position:relative;
}

.header-logo {
  width: 56px;
  height: 56px; 
  margin-top: 22px;
  margin-right: 172px;
  background: url(../img/logo.png);
  background-size: 56px 56px;
}

.header-menu:hover .header-submenu {
  display: block
}

.header-menu > a {
  padding: 0 10px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
}

.header-logo h1 {
  display: none;
}

.header-submenu {
  /* outline: 1px solid red; */
  /* background-color: blueviolet ; */
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  display: none;
  z-index: 30;
  background-color: #fff;
}

.header-submenu a {
  width: 204px;
  text-align: center;
  font-size: 12px;
}

.header-cover {
  border-right: 1px solid #eee;  
}

.header-submenu a:last-child .header-cover{
  border-right: none;
}

.header-cover img {
  width: 160px;
  height: 110px;
}

.header-name {
  width: 204px;
  height: 18px;
  margin-top: 10px;
  color: #333;
}

.header-price {
  color: #ff6700;
}

/* 搜索区域 */

.header-search {
  /* outline:1px solid orange; */
  /* text-align: center; */
  margin-top: 25px;
  position: relative;
}

.header-search input {
  width: 245px;
  height: 50px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 0 15px;
  outline: none;
  /* background-color: red; */  
}

.header-searchicon {
  width: 55px;
  height: 50px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #fff;
  cursor: pointer;
  color: #616161;
}

.header-searchicon:hover {
  background-color: #ff6700;
  color: #fff;
  border-color: #ff6700;
}

.i-fangdajing {
  font-size: 20px;  
}

.header-suggest {
  position: absolute;
  left: 0;
  top: 50px;
  width: 245px;
  border: 1px solid #ff6700;
  border-top: none;
  z-index: 40;
  background-color: #fff;
  display: none;
}

.header-suggest a {
  display: block;
  width: 243px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  padding: 0 10px;
}

.header-suggest a:hover {
  background-color: #eee;
}

.header-search input:focus~.header-suggest {
  display: block;
}

.header-search input:hover {
  border-color: #aaa;
}

.header-search input:hover~.header-searchicon {
  border-color: #aaa;
}

.header-search input:focus {
  border: 1px solid #ff6700;
}

.header-search input:focus~.header-searchicon {
  border: 1px solid #ff6700;
  border-left: none;
}

